input, select, textarea {
    margin: 10px 0;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #C0C0C0;
    font-size: 16px;
    line-height: 30px;
 }
 select{
   font: 1em courier;
   font-size: 17px;
   font-weight: bolder;
   color: #C0C0C0;
 }